main.pagina-sobre section.primeira-secao {
    background: #E6E6E6;
    border-top: 1rem solid #111;
}

main.pagina-sobre section.primeira-secao div {
    text-align: end;
}

@media screen and (max-width:900px) {

    main.pagina-sobre section.primeira-secao {
        flex-direction: column;
    }

    main.pagina-sobre section.primeira-secao .img-secao, main.pagina-sobre section.primeira-secao div {
        width: 90%;
    }

    main.pagina-sobre section.primeira-secao div {
        text-align: left;   
        margin-top: 2rem;     
    }
}