button.botao-formulario {
    background-color: #0072CE;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    transition: 0.3s;
}

button.botao-formulario:hover {
    background-color: #03589d;
}

button.botao-formulario:disabled {
    background-color: #b5b5b5;
    cursor: not-allowed;
}