section.secao-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

section.secao-principal div.info {
    width: 40%;
    max-width: 800px;
    min-width: 270px;
    display: flex;
    flex-direction: column;
}

section.secao-principal div.info h1{
    font-size: 2.5rem;
}

section.secao-principal div.info p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

section.secao-principal .img-carro {
    width: 60%;
    max-width: 1200px;
    min-width: 270px;
}

@media screen and (max-width:600px) {
    section.secao-principal {
        flex-direction: column;
    }

    section.secao-principal div.info,  section.secao-principal .img-carro{
        width: 100%;
    }
    
}